flex6400Mundelein.json
[{"id":"3cdfe50a.57bab2","type":"tab","label":"Radio Relay Control","disabled":false,"info":""},{"id":"f5cfbeb9.5029b8","type":"tab","label":"RPi Flow","disabled":false,"info":""},{"id":"81abf272.49e3c","type":"tab","label":"Host Monitor","disabled":false,"info":""},{"id":"d47d813.a155e8","type":"tab","label":"FlexRadio","disabled":false,"info":""},{"id":"e44556f7.4908a","type":"tab","label":"Radio","disabled":false,"info":"[\r\n    {\r\n        \"id\": \"d57b9411.1021b8\",\r\n        \"type\": \"tab\",\r\n        \"label\": \"Vita49\",\r\n        \"disabled\": true,\r\n        \"info\": \"\"\r\n    },\r\n    {\r\n        \"id\": \"5a3b2151.55e69\",\r\n        \"type\": \"udp in\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"iface\": \"\",\r\n        \"port\": \"4992\",\r\n        \"ipv\": \"udp4\",\r\n        \"multicast\": \"false\",\r\n        \"group\": \"\",\r\n        \"datatype\": \"utf8\",\r\n        \"x\": 229,\r\n        \"y\": 274,\r\n        \"wires\": [\r\n            [\r\n                \"fa1aa25b.c8587\",\r\n                \"970d0b1d.bd16a8\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"8dc0d160.314d5\",\r\n        \"type\": \"switch\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"property\": \"payload\",\r\n        \"propertyType\": \"msg\",\r\n        \"rules\": [\r\n            {\r\n                \"t\": \"regex\",\r\n                \"v\": \"^model=\",\r\n                \"vt\": \"str\",\r\n                \"case\": false\r\n            }\r\n        ],\r\n        \"checkall\": \"true\",\r\n        \"repair\": false,\r\n        \"outputs\": 1,\r\n        \"x\": 543,\r\n        \"y\": 278,\r\n        \"wires\": [\r\n            [\r\n                \"957b81c7.e5a2d\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"fa1aa25b.c8587\",\r\n        \"type\": \"split\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"splt\": \" \",\r\n        \"spltType\": \"str\",\r\n        \"arraySplt\": 1,\r\n        \"arraySpltType\": \"len\",\r\n        \"stream\": false,\r\n        \"addname\": \"\",\r\n        \"x\": 387,\r\n        \"y\": 276,\r\n        \"wires\": [\r\n            [\r\n                \"8dc0d160.314d5\",\r\n                \"bcfe457d.549f28\",\r\n                \"c7172d37.396f7\",\r\n                \"48d66a17.51c914\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"8cdc97f6.80e1a8\",\r\n        \"type\": \"ui_text\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"group\": \"43b5a859.82e898\",\r\n        \"order\": 6,\r\n        \"width\": 0,\r\n        \"height\": 0,\r\n        \"name\": \"Vita49\",\r\n        \"label\": \"\",\r\n        \"format\": \"{{msg.payload}}\",\r\n        \"layout\": \"col-center\",\r\n        \"x\": 913,\r\n        \"y\": 284,\r\n        \"wires\": []\r\n    },\r\n    {\r\n        \"id\": \"957b81c7.e5a2d\",\r\n        \"type\": \"function\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"ParseModel\",\r\n        \"func\": \"\\nmsg.payload= msg.payload.split('-')[1];\\n\\nflow.set(\\\"Model\\\",msg.payload);\\n\\n\\n\\nreturn msg;\",\r\n        \"outputs\": 1,\r\n        \"noerr\": 0,\r\n        \"x\": 714,\r\n        \"y\": 283,\r\n        \"wires\": [\r\n            [\r\n                \"8cdc97f6.80e1a8\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"970d0b1d.bd16a8\",\r\n        \"type\": \"debug\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"active\": false,\r\n        \"tosidebar\": true,\r\n        \"console\": false,\r\n        \"tostatus\": false,\r\n        \"complete\": \"false\",\r\n        \"x\": 616,\r\n        \"y\": 137,\r\n        \"wires\": []\r\n    },\r\n    {\r\n        \"id\": \"bcfe457d.549f28\",\r\n        \"type\": \"switch\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"property\": \"payload\",\r\n        \"propertyType\": \"msg\",\r\n        \"rules\": [\r\n            {\r\n                \"t\": \"regex\",\r\n                \"v\": \"^callsign=\",\r\n                \"vt\": \"str\",\r\n                \"case\": false\r\n            }\r\n        ],\r\n        \"checkall\": \"true\",\r\n        \"repair\": false,\r\n        \"outputs\": 1,\r\n        \"x\": 535,\r\n        \"y\": 361,\r\n        \"wires\": [\r\n            [\r\n                \"cc13a1cf.f5e15\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"cc13a1cf.f5e15\",\r\n        \"type\": \"function\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"ParseCallSign\",\r\n        \"func\": \"\\nmsg.payload= msg.payload.split('=')[1];\\n\\nflow.set(\\\"Callsign\\\",msg.payload);\\n\\n\\n\\nreturn msg;\",\r\n        \"outputs\": 1,\r\n        \"noerr\": 0,\r\n        \"x\": 736,\r\n        \"y\": 362,\r\n        \"wires\": [\r\n            [\r\n                \"9084e1c1.41f58\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"9084e1c1.41f58\",\r\n        \"type\": \"ui_text\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"group\": \"43b5a859.82e898\",\r\n        \"order\": 6,\r\n        \"width\": 0,\r\n        \"height\": 0,\r\n        \"name\": \"Vita49\",\r\n        \"label\": \"\",\r\n        \"format\": \"{{msg.payload}}\",\r\n        \"layout\": \"col-center\",\r\n        \"x\": 917,\r\n        \"y\": 360,\r\n        \"wires\": []\r\n    },\r\n    {\r\n        \"id\": \"c7172d37.396f7\",\r\n        \"type\": \"switch\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"property\": \"payload\",\r\n        \"propertyType\": \"msg\",\r\n        \"rules\": [\r\n            {\r\n                \"t\": \"regex\",\r\n                \"v\": \"^inuse_ip=\",\r\n                \"vt\": \"str\",\r\n                \"case\": false\r\n            }\r\n        ],\r\n        \"checkall\": \"true\",\r\n        \"repair\": false,\r\n        \"outputs\": 1,\r\n        \"x\": 527,\r\n        \"y\": 434,\r\n        \"wires\": [\r\n            [\r\n                \"cfb17f30.757ef\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"cfb17f30.757ef\",\r\n        \"type\": \"function\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"ParseIP\",\r\n        \"func\": \"\\nmsg.payload= msg.payload.split(',')[1];\\n\\nflow.set(\\\"IPadd\\\",msg.payload);\\n\\n\\n\\nreturn msg;\",\r\n        \"outputs\": 1,\r\n        \"noerr\": 0,\r\n        \"x\": 708,\r\n        \"y\": 435,\r\n        \"wires\": [\r\n            [\r\n                \"8c2a7b09.8c3058\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"8c2a7b09.8c3058\",\r\n        \"type\": \"ui_text\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"group\": \"43b5a859.82e898\",\r\n        \"order\": 6,\r\n        \"width\": 0,\r\n        \"height\": 0,\r\n        \"name\": \"Vita49\",\r\n        \"label\": \"\",\r\n        \"format\": \"{{msg.payload}}\",\r\n        \"layout\": \"col-center\",\r\n        \"x\": 909,\r\n        \"y\": 433,\r\n        \"wires\": []\r\n    },\r\n    {\r\n        \"id\": \"48d66a17.51c914\",\r\n        \"type\": \"switch\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"\",\r\n        \"property\": \"payload\",\r\n        \"propertyType\": \"msg\",\r\n        \"rules\": [\r\n            {\r\n                \"t\": \"regex\",\r\n                \"v\": \"^gui_client_stations=\",\r\n                \"vt\": \"str\",\r\n                \"case\": false\r\n            }\r\n        ],\r\n        \"checkall\": \"true\",\r\n        \"repair\": false,\r\n        \"outputs\": 1,\r\n        \"x\": 551,\r\n        \"y\": 513,\r\n        \"wires\": [\r\n            [\r\n                \"fa6cc07d.26f95\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"fa6cc07d.26f95\",\r\n        \"type\": \"function\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"name\": \"ParseClients\",\r\n        \"func\": \"\\nmsg.payload= msg.payload.split('=')[1];\\n\\nflow.set(\\\"Clients\\\",msg.payload);\\n\\n\\n\\nreturn msg;\",\r\n        \"outputs\": 1,\r\n        \"noerr\": 0,\r\n        \"x\": 699,\r\n        \"y\": 511,\r\n        \"wires\": [\r\n            [\r\n                \"674509e2.b62b18\"\r\n            ]\r\n        ]\r\n    },\r\n    {\r\n        \"id\": \"674509e2.b62b18\",\r\n        \"type\": \"ui_text\",\r\n        \"z\": \"d57b9411.1021b8\",\r\n        \"group\": \"43b5a859.82e898\",\r\n        \"order\": 6,\r\n        \"width\": 0,\r\n        \"height\": 0,\r\n        \"name\": \"Vita49\",\r\n        \"label\": \"\",\r\n        \"format\": \"{{msg.payload}}\",\r\n        \"layout\": \"col-center\",\r\n        \"x\": 890,\r\n        \"y\": 509,\r\n        \"wires\": []\r\n    },\r\n    {\r\n        \"id\": \"43b5a859.82e898\",\r\n        \"type\": \"ui_group\",\r\n        \"z\": \"\",\r\n        \"name\": \"6600 Status\",\r\n        \"tab\": \"3459151d.04344a\",\r\n        \"disp\": true,\r\n        \"width\": \"6\",\r\n        \"collapse\": false\r\n    },\r\n    {\r\n        \"id\": \"3459151d.04344a\",\r\n        \"type\": \"ui_tab\",\r\n        \"z\": \"\",\r\n        \"name\": \"WO2X Shack Control\",\r\n        \"icon\": \"dashboard\",\r\n        \"order\": 1,\r\n        \"disabled\": false,\r\n        \"hidden\": false\r\n    }\r\n]"},{"id":"92897ef5.e3fa78","type":"tab","label":"Flashing Green LED","disabled":false,"info":""},{"id":"a6bf424f.e930d","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"89787019.7ddb28","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d854579.249c8","type":"ui_group","z":"","name":"Status","tab":"d1c600.46056a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d1c600.46056a","type":"ui_tab","z":"","name":"WD9GYM - Mundelein","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6d62ddf1.fd2c3c","type":"ui_group","z":"","name":"Weather in Mundelein Illinois","tab":"d1c600.46056a","order":4,"disp":true,"width":"6","collapse":false},{"id":"5b585a57.347904","type":"ui_group","z":"","name":"Radio","tab":"d1c600.46056a","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e3fdd87.1fbdea","type":"ui_group","z":"","name":"Col1","tab":"56484500.201894","order":1,"disp":false,"width":"6"},{"id":"27a759a9.e62866","type":"ui_group","z":"","name":"Actions","tab":"56484500.201894","order":3,"disp":true,"width":"6","collapse":false},{"id":"24f25e76.f519e2","type":"ui_group","z":"","name":"Col3","tab":"56484500.201894","order":2,"disp":false,"width":"6"},{"id":"56484500.201894","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b2084d48.68cf88","type":"ui_spacer","name":"spacer","group":"9d854579.249c8","order":4,"width":"1","height":"1"},{"id":"878cf96d.52e62","type":"ui_spacer","name":"spacer","group":"9d854579.249c8","order":2,"width":1,"height":"1"},{"id":"90973a1e.9b57f","type":"mqtt-broker","z":"","name":"","broker":"192.168.110.111","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aeb39560.6910b","type":"ui_group","z":"","name":"Radio Info","tab":"d1c600.46056a","order":3,"disp":true,"width":"5","collapse":false},{"id":"6e251974.0e4e3","type":"ui_text","z":"3cdfe50a.57bab2","group":"9d854579.249c8","order":1,"width":0,"height":0,"name":"Power On/Off Text msgs","label":"","format":"{{msg.payload}}","layout":"row-center","x":870,"y":80,"wires":[]},{"id":"985d2afc.a506c","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay1on.sh &>relay1on.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec Relay1 On commands","x":700,"y":40,"wires":[[],[],[]]},{"id":"b9930f63.5f3028","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay2off.sh &>relay2off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Execute relay2 Power Off commands","x":950,"y":300,"wires":[[],[],[]]},{"id":"a4d06596.89c778","type":"inject","z":"3cdfe50a.57bab2","name":"Startup","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":120,"wires":[["5dfb4489.0fb37c","8337b95.f9b9948","9dfaa5ed.a90e2","beed0fec.431df"]]},{"id":"ca19371d.e8c4d","type":"ui_text","z":"3cdfe50a.57bab2","group":"9d854579.249c8","order":3,"width":0,"height":0,"name":"Antenna Text Msgs","label":" ","format":"{{msg.payload}}","layout":"row-center","x":930,"y":240,"wires":[]},{"id":"eb08e696.09f58","type":"function","z":"3cdfe50a.57bab2","name":"Connected to Dummy Load","func":"msg.payload = \"Connected to Dummy Load\"\n \nreturn [msg];","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["ca19371d.e8c4d"]]},{"id":"18a72fe0.034c68","type":"function","z":"3cdfe50a.57bab2","name":"Temperature filter","func":"var tempf = msg.payload.tempc\n\ntempf = Math.round(((tempf * 9)/5) + 32)\n    msg.payload = tempf\n    return msg;","outputs":1,"noerr":0,"x":490,"y":820,"wires":[["66ec1ff2.83044"]]},{"id":"66ec1ff2.83044","type":"ui_text","z":"3cdfe50a.57bab2","group":"6d62ddf1.fd2c3c","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} F&deg","layout":"col-center","x":710,"y":820,"wires":[]},{"id":"7d4e9cb9.a69dfc","type":"function","z":"3cdfe50a.57bab2","name":"Humidity filter","func":"var humidity = msg.payload.humidity\n\n    msg.payload = humidity\n    return msg;","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["8f1c2191.c20c3"]]},{"id":"8f1c2191.c20c3","type":"ui_text","z":"3cdfe50a.57bab2","group":"6d62ddf1.fd2c3c","order":3,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"col-center","x":720,"y":880,"wires":[]},{"id":"beaf3c80.dc4f5","type":"ui_text","z":"3cdfe50a.57bab2","group":"6d62ddf1.fd2c3c","order":4,"width":0,"height":0,"name":"","label":"Windspeed","format":"{{msg.payload}} mph","layout":"col-center","x":730,"y":940,"wires":[]},{"id":"7cde78ed.dfaad","type":"function","z":"3cdfe50a.57bab2","name":"Windspeed filter","func":"var wind = msg.payload.windspeed\nmsg.payload = wind \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":940,"wires":[["beaf3c80.dc4f5"]]},{"id":"ef29bc64.28e95","type":"ui_text","z":"3cdfe50a.57bab2","group":"6d62ddf1.fd2c3c","order":1,"width":0,"height":0,"name":"","label":"Conditions","format":"{{msg.payload.weather}}","layout":"row-center","x":710,"y":760,"wires":[]},{"id":"121d11c9.59fece","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Clock Toolbar ","order":1,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":120,"y":40,"wires":[[]]},{"id":"747f052e.71b31c","type":"switch","z":"3cdfe50a.57bab2","name":"If thunderstorm","property":"payload.weather","propertyType":"msg","rules":[{"t":"eq","v":"Thunderstorm","vt":"str"},{"t":"neq","v":"Thunderstorm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":700,"wires":[["37254176.a0cbce","ef29bc64.28e95","a235338e.bf8b38"],["8f50cc.53b88f38"]]},{"id":"37254176.a0cbce","type":"function","z":"3cdfe50a.57bab2","name":"Thunderstorm text msg","func":"msg.payload = \"Thunderstorms detected in Mundelein\"\nmsg.topic = \"Flex6600-Mundelein\"\nweatherFlag = true\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["ee691aea.1ad23"]]},{"id":"5e23cfbb.245ba","type":"openweathermap in","z":"3cdfe50a.57bab2","name":"Get Mundelein Weather","wtype":"current","lon":"","lat":"","city":"Mundelein","country":"US","language":"en","x":100,"y":800,"wires":[["ef29bc64.28e95","18a72fe0.034c68","7d4e9cb9.a69dfc","7cde78ed.dfaad","747f052e.71b31c"]]},{"id":"1d9a9ad9.7a38bd","type":"function","z":"3cdfe50a.57bab2","name":"Radio shut down msg & set Flag = true","func":"msg.payload = \"Thunderstorms in Mundelein, radio shutdown\"\nglobal.set('weatherFlag',true);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":640,"wires":[["cc01d264.70905","200acd46.47a42a","b394513.fe2073"]]},{"id":"9b80cfe8.1e727","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Button shap stuff wd9gym group","order":2,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":300,"y":1060,"wires":[[]]},{"id":"cc01d264.70905","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Power Off button","order":4,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Power is OFF'})\"> \n    Power<br/>Off\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":120,"wires":[["6e251974.0e4e3","e3e603af.0be1c8"]]},{"id":"5dfb4489.0fb37c","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Power On Button","order":3,"width":0,"height":0,"format":"<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Power is On'}  )\"> \n    Power<br/>On\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":60,"wires":[["985d2afc.a506c","77697ac.83f9284"]]},{"id":"beed0fec.431df","type":"function","z":"3cdfe50a.57bab2","name":"Boot up msg & set weather Flag false","func":"msg.payload = \"Pi has booted up\"\nglobal.set('weatherFlag',false);\nmsg.topic = \"Flex6400-Mundelein\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":360,"wires":[[]]},{"id":"2430a3d1.4e1c34","type":"ui_gauge","z":"f5cfbeb9.5029b8","name":"","group":"2e3fdd87.1fbdea","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":140,"wires":[]},{"id":"90a59605.9e8fe8","type":"exec","z":"f5cfbeb9.5029b8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RPi Temp.","x":310,"y":160,"wires":[["358b5173.347fb6"],[],[]]},{"id":"d4478dc0.1646c","type":"inject","z":"f5cfbeb9.5029b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":"","x":104.5,"y":168.25,"wires":[["90a59605.9e8fe8","40da5856.b800d"]]},{"id":"358b5173.347fb6","type":"function","z":"f5cfbeb9.5029b8","name":"calc cpu temp","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["2430a3d1.4e1c34","e93319d3.eecdd"]]},{"id":"41341c37.ebefe4","type":"ui_button","z":"f5cfbeb9.5029b8","name":"","group":"27a759a9.e62866","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Flex Pi Mundelein Re-booted","payloadType":"str","topic":"","x":80,"y":540,"wires":[["8d6ac8ce.605aa8","f5acd6bd.308da8","70eebc56.cd4aac","a48fd7a5.d6d8","48ade422.611d74"]]},{"id":"b906bb1e.0afd58","type":"exec","z":"f5cfbeb9.5029b8","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":940,"y":540,"wires":[[],[],[]]},{"id":"a1b67faf.b3cc","type":"ui_button","z":"f5cfbeb9.5029b8","name":"","group":"27a759a9.e62866","order":3,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"Flex Pi Mundelein Shutdown","payloadType":"str","topic":"","x":90,"y":580,"wires":[["63c41092.8a10d8","fa30a927.4e5e8","70eebc56.cd4aac","a48fd7a5.d6d8","48ade422.611d74"]]},{"id":"332776e9.df840a","type":"exec","z":"f5cfbeb9.5029b8","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":930,"y":600,"wires":[[],[],[]]},{"id":"e93319d3.eecdd","type":"ui_chart","z":"f5cfbeb9.5029b8","name":"","group":"2e3fdd87.1fbdea","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":670,"y":200,"wires":[[],[]]},{"id":"40da5856.b800d","type":"exec","z":"f5cfbeb9.5029b8","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":310,"y":240,"wires":[["7ab4d076.7d7208"],[],[]]},{"id":"7ab4d076.7d7208","type":"ui_gauge","z":"f5cfbeb9.5029b8","name":"","group":"2e3fdd87.1fbdea","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":670,"y":240,"wires":[]},{"id":"e4b51e6a.4e63","type":"exec","z":"f5cfbeb9.5029b8","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":310,"y":400,"wires":[["46a50490.f2e97c"],[],[]]},{"id":"36177056.87e63","type":"ui_gauge","z":"f5cfbeb9.5029b8","name":"","group":"24f25e76.f519e2","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":710,"y":400,"wires":[]},{"id":"46a50490.f2e97c","type":"function","z":"f5cfbeb9.5029b8","name":"Clac disk space","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":400,"wires":[["36177056.87e63"]]},{"id":"e8f7a635.b69ac8","type":"inject","z":"f5cfbeb9.5029b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":400,"wires":[["e4b51e6a.4e63"]]},{"id":"6a871985.363be8","type":"ui_template","z":"f5cfbeb9.5029b8","group":"27a759a9.e62866","name":"button template","order":2,"width":0,"height":0,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":260,"y":740,"wires":[[]]},{"id":"8d6ac8ce.605aa8","type":"delay","z":"f5cfbeb9.5029b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":540,"wires":[["b906bb1e.0afd58"]]},{"id":"63c41092.8a10d8","type":"delay","z":"f5cfbeb9.5029b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":600,"wires":[["332776e9.df840a"]]},{"id":"f5acd6bd.308da8","type":"function","z":"f5cfbeb9.5029b8","name":"Flex Pi rebooted","func":"msg.payload = \"Pi is being Re-Booted\"\nmsg.topic = \"Flex6400-Mundelein\"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":480,"wires":[["39ea8c21.31353c"]]},{"id":"fa30a927.4e5e8","type":"function","z":"f5cfbeb9.5029b8","name":"Flex Pi Shutdown","func":"msg.payload = \"Pi has been Shutdown\"\nmsg.topic = \"Flex6400-Mundelein\"\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":660,"wires":[["39ea8c21.31353c"]]},{"id":"8f50cc.53b88f38","type":"switch","z":"3cdfe50a.57bab2","name":"not Ts and flag true","property":"weatherFlag","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1000,"wires":[["276766ca.c7360a"]]},{"id":"276766ca.c7360a","type":"function","z":"3cdfe50a.57bab2","name":"set weatherFlag = false","func":"global.set('weatherFlag',false);\nmsg.payload = \"Thunderstorm threat in Mundelein has cleared\"\nmsg.topic = \"Flex6600-Mundelein\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1000,"wires":[["5dfb4489.0fb37c","3a9e6498.c83a6c","9dfaa5ed.a90e2","8337b95.f9b9948"]]},{"id":"f77919f0.157648","type":"e-mail","z":"3cdfe50a.57bab2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"8479329854@mms.att.net","dname":"Send boot up msg","x":1030,"y":360,"wires":[]},{"id":"3a9e6498.c83a6c","type":"e-mail","z":"3cdfe50a.57bab2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"8479329854@mms.att.net","dname":"Send weather msg to Marty","x":1000,"y":1000,"wires":[]},{"id":"39ea8c21.31353c","type":"e-mail","z":"f5cfbeb9.5029b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"8479329854@mms.att.net","dname":"send shut down reboot msg","x":560,"y":480,"wires":[]},{"id":"ee691aea.1ad23","type":"switch","z":"3cdfe50a.57bab2","name":"if weaather flag false","property":"weatherFlag","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":700,"wires":[["3a9e6498.c83a6c"]]},{"id":"a235338e.bf8b38","type":"delay","z":"3cdfe50a.57bab2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":640,"wires":[["1d9a9ad9.7a38bd"]]},{"id":"3d12d751.694378","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay2on.sh &>relay2on.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec relay2 on","x":960,"y":180,"wires":[[],[],[]]},{"id":"e3e603af.0be1c8","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay1off.sh &>relay1off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exdc relay1 off","x":700,"y":140,"wires":[[],[],[]]},{"id":"8337b95.f9b9948","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Antenna Connect to radio","order":5,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Antenna Connected to Radio'})\"> \n    Antenna Connected<br/>To Radio\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":250,"y":180,"wires":[["3d12d751.694378","62b17833.9685c8"]]},{"id":"b394513.fe2073","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Antenna to Dummy Load","order":6,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Antenna Connected To Dummy Load'})\"> \n    Antenna Connect<br/>To Dummy Load\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":270,"y":240,"wires":[["b9930f63.5f3028","eb08e696.09f58"]]},{"id":"77697ac.83f9284","type":"function","z":"3cdfe50a.57bab2","name":"Msg Power is On","func":"msg.payload=\"Power is On\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["6e251974.0e4e3"]]},{"id":"62b17833.9685c8","type":"function","z":"3cdfe50a.57bab2","name":"Connected to radio","func":"msg.payload=\"Antenna Connected To Radio\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["ca19371d.e8c4d"]]},{"id":"9dfaa5ed.a90e2","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Tuner On","order":7,"width":0,"height":0,"format":"<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Tuner is On'}  )\"> \n    Tuner<br/>On\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":440,"wires":[["14a4131.dd5d2ed"]]},{"id":"55dd8f2f.7e5108","type":"ui_text","z":"3cdfe50a.57bab2","group":"9d854579.249c8","order":6,"width":0,"height":0,"name":"Tuner msgs","label":"","format":"{{msg.payload}}","layout":"row-center","x":950,"y":500,"wires":[]},{"id":"8e8306eb.f02aa8","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay3on.sh &>relay3on.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Tuner on command","x":730,"y":420,"wires":[[],[],[]]},{"id":"200acd46.47a42a","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"Tuner off command","order":8,"width":0,"height":0,"format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Tuner is OFF'})\"> \n    Tuner<br/>Off\n</md-button> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":520,"wires":[["88225621.6198a8"]]},{"id":"c75785e7.60f128","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay3off.sh &>relay3off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Tuner Off Command","x":680,"y":540,"wires":[[],[],[]]},{"id":"14a4131.dd5d2ed","type":"function","z":"3cdfe50a.57bab2","name":"Tuner On message","func":"msg.payload=\"Tuner is On\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["55dd8f2f.7e5108","8e8306eb.f02aa8"]]},{"id":"88225621.6198a8","type":"function","z":"3cdfe50a.57bab2","name":"Tuner Off msg","func":"msg.payload=\"Tuner is Off\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["c75785e7.60f128","55dd8f2f.7e5108"]]},{"id":"70eebc56.cd4aac","type":"exec","z":"f5cfbeb9.5029b8","command":"sudo ./relay1off.sh &>relay1off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Radio off","x":600,"y":640,"wires":[[],[],[]]},{"id":"a48fd7a5.d6d8","type":"exec","z":"f5cfbeb9.5029b8","command":"sudo ./relay2off.sh &>relay2off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Antenna to dummy load","x":650,"y":720,"wires":[[],[],[]]},{"id":"48ade422.611d74","type":"exec","z":"f5cfbeb9.5029b8","command":"sudo ./relay3off.sh &>relay3off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Tuner Off","x":600,"y":800,"wires":[[],[],[]]},{"id":"17923b57.0ca785","type":"ui_text","z":"3cdfe50a.57bab2","group":"9d854579.249c8","order":5,"width":0,"height":0,"name":"Blank line","label":"","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":420,"wires":[]},{"id":"65f46a31.790aac","type":"ping","z":"81abf272.49e3c","mode":"timed","name":"Internet","host":"8.8.8.8","timer":"20","inputs":0,"x":150,"y":80,"wires":[["7d479d6b.1f931c"]]},{"id":"a48633f0.afdb2","type":"ui_text","z":"81abf272.49e3c","group":"aeb39560.6910b","order":1,"width":0,"height":0,"name":"","label":"Internet Ping","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":60,"wires":[]},{"id":"947600aa.1e56e8","type":"ping","z":"81abf272.49e3c","mode":"timed","name":"Flex 6400","host":"10.0.0.46","timer":"60","inputs":0,"x":160,"y":240,"wires":[["be04f03e.ea72f8"]]},{"id":"cd2591f6.af58e","type":"ui_text","z":"81abf272.49e3c","group":"aeb39560.6910b","order":3,"width":0,"height":0,"name":"","label":"Flex 6400 ping","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":240,"wires":[]},{"id":"7d479d6b.1f931c","type":"smooth","z":"81abf272.49e3c","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","x":280,"y":80,"wires":[["400e3197.1cc458","a48633f0.afdb2"]]},{"id":"be04f03e.ea72f8","type":"smooth","z":"81abf272.49e3c","name":"","property":"payload","action":"mean","count":"2","round":"1","mult":"single","x":300,"y":240,"wires":[["cd2591f6.af58e"]]},{"id":"400e3197.1cc458","type":"ui_chart","z":"81abf272.49e3c","name":"","group":"aeb39560.6910b","order":2,"width":0,"height":0,"label":"Internet","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":120,"wires":[[]]},{"id":"301aebf1.baebe4","type":"tcp in","z":"d47d813.a155e8","name":"","server":"client","host":"10.0.0.46","port":"4992","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":183.01953125,"y":158.00390625,"wires":[["4cfac77.0b548b8","ecc78d96.39159","d1c9ad7d.1d3c5"]]},{"id":"73177738.d174","type":"tcp out","z":"d47d813.a155e8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":1003.01953125,"y":198.00390625,"wires":[]},{"id":"35924b82.956694","type":"split","z":"d47d813.a155e8","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":323.01953125,"y":418.00390625,"wires":[["9f01c60e.d1fcd"]]},{"id":"9f01c60e.d1fcd","type":"switch","z":"d47d813.a155e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^freq=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":463.01953125,"y":418.00390625,"wires":[["1a9682fe.f8d7ed"]]},{"id":"1a9682fe.f8d7ed","type":"function","z":"d47d813.a155e8","name":"ParseFreq","func":"\nmsg.payload= msg.payload.split('=')[1]*100000;\n\nflow.set(\"FlexTXFreq\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":420,"wires":[["e993f7f1.2d99b8"]]},{"id":"3f92af31.e4e9f","type":"mqtt out","z":"d47d813.a155e8","name":"","topic":"FlexStatus","qos":"","retain":"","broker":"90973a1e.9b57f","x":1110,"y":500,"wires":[]},{"id":"e993f7f1.2d99b8","type":"function","z":"d47d813.a155e8","name":"Devide Frequency by 100","func":"var Frequency=msg.payload/100;\n\n\n\nmsg.payload= parseFloat(Frequency).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":420,"wires":[["3f92af31.e4e9f","a20a0d3d.22c0a","954adfb8.3c7f8"]]},{"id":"4cfac77.0b548b8","type":"trigger","z":"d47d813.a155e8","op1":"C173|sub tx all","op2":"C173|sub tx all","op1type":"str","op2type":"str","duration":"60","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":563.01953125,"y":158.00390625,"wires":[["dd2e439d.df1ca","d98fad45.64d0d8","ef11f3ba.e5e5e8","9a1dabbf.cd294"]]},{"id":"a20a0d3d.22c0a","type":"trigger","z":"d47d813.a155e8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","name":"","x":730,"y":500,"wires":[["3f92af31.e4e9f"]]},{"id":"dd2e439d.df1ca","type":"function","z":"d47d813.a155e8","name":"SUB SLICE ALL","func":"// C172|sub slice all\nmsg.payload = \"C172|sub slice all\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":793.01953125,"y":178.00390625,"wires":[["73177738.d174"]]},{"id":"d98fad45.64d0d8","type":"function","z":"d47d813.a155e8","name":"SUB CLIENT ALL","func":"// C172|sub slice all\nmsg.payload = \"C173|sub client all\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":803.01953125,"y":218.00390625,"wires":[["73177738.d174"]]},{"id":"ef11f3ba.e5e5e8","type":"function","z":"d47d813.a155e8","name":"SUB TX ALL","func":"// C172|sub slice all\nmsg.payload = \"C202|sub tx all\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":783.01953125,"y":138.00390625,"wires":[["73177738.d174"]]},{"id":"ecc78d96.39159","type":"switch","z":"d47d813.a155e8","name":"transmit","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"|transmit","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":173.01953125,"y":418.00390625,"wires":[["35924b82.956694"]]},{"id":"9a1dabbf.cd294","type":"function","z":"d47d813.a155e8","name":"SUB RADIO ALL","func":"// C172|sub slice all\nmsg.payload = \"C73|sub radio all\\r\"; \nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["73177738.d174"]]},{"id":"99de9651.de801","type":"inject","z":"d47d813.a155e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410.51171875,"y":58.94921875,"wires":[["ef11f3ba.e5e5e8"]]},{"id":"954adfb8.3c7f8","type":"ui_text","z":"d47d813.a155e8","group":"aeb39560.6910b","order":8,"width":0,"height":0,"name":"","label":"6400 Freq","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":420,"wires":[]},{"id":"d1c9ad7d.1d3c5","type":"switch","z":"d47d813.a155e8","name":"rfpower","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"|transmit","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":560,"wires":[["9a3c2be8.f7ede"]]},{"id":"9a3c2be8.f7ede","type":"split","z":"d47d813.a155e8","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":560,"wires":[["8ad5296b.92875"]]},{"id":"8ad5296b.92875","type":"switch","z":"d47d813.a155e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^rfpower=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":560,"wires":[["c9506a17.1cbf08"]]},{"id":"c9506a17.1cbf08","type":"function","z":"d47d813.a155e8","name":"ParsePWR","func":"\nmsg.payload= msg.payload.split('=')[1];\n\nflow.set(\"FlexTXPWR\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["ec9f7458.33bd"]]},{"id":"ec9f7458.33bd","type":"ui_text","z":"d47d813.a155e8","group":"aeb39560.6910b","order":9,"width":0,"height":0,"name":"","label":"TX Power","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":560,"wires":[]},{"id":"f595d6a3.03eac8","type":"comment","z":"d47d813.a155e8","name":"","info":" state=TRANSMITTING\n  state=READY","x":1620,"y":200,"wires":[]},{"id":"d363531f.ab6b68","type":"ui_text","z":"e44556f7.4908a","group":"aeb39560.6910b","order":7,"width":0,"height":0,"name":"Client Name","label":"Client Names","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":280,"wires":[]},{"id":"6b92ca6b.70f7cc","type":"function","z":"e44556f7.4908a","name":"ParseClients","func":"\nmsg.payload= msg.payload.split('=')[1];\n\nflow.set(\"Clients\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["d363531f.ab6b68"]]},{"id":"481c2f03.7ef3f8","type":"switch","z":"e44556f7.4908a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^gui_client_stations=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":280,"wires":[["6b92ca6b.70f7cc"]]},{"id":"37ecc8e9.3920b8","type":"split","z":"e44556f7.4908a","name":"6400 Data","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":100,"wires":[["5ae841b4.e7b11","12f9aa5a.3ca036","481c2f03.7ef3f8","d910d464.5184c"]]},{"id":"c94ceb70.19e1e8","type":"udp in","z":"e44556f7.4908a","name":"Flex 6400","iface":"","port":"4992","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":60,"y":100,"wires":[["37ecc8e9.3920b8"]]},{"id":"5ae841b4.e7b11","type":"switch","z":"e44556f7.4908a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^model=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":100,"wires":[["78f9ea49.b95bec"]]},{"id":"12f9aa5a.3ca036","type":"switch","z":"e44556f7.4908a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^callsign=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["3c2a3421.c8462c"]]},{"id":"d910d464.5184c","type":"switch","z":"e44556f7.4908a","name":"inuse_ip=","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^inuse_ip=","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":220,"wires":[["23a588e3.3ff1f"]]},{"id":"78f9ea49.b95bec","type":"function","z":"e44556f7.4908a","name":"ParseModel","func":"\nmsg.payload= msg.payload.split('-')[1];\n\nflow.set(\"Model\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["d5c3fc98.91d998"]]},{"id":"3c2a3421.c8462c","type":"function","z":"e44556f7.4908a","name":"ParseCallSign","func":"\nmsg.payload= msg.payload.split('=')[1];\n\nflow.set(\"Callsign\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["af35bac8.1a62b"]]},{"id":"23a588e3.3ff1f","type":"function","z":"e44556f7.4908a","name":"ParseIP","func":"\nmsg.payload= msg.payload.split('=')[1];\n\nflow.set(\"InUseIp\",msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["e5c066aa.a4d58"]]},{"id":"d5c3fc98.91d998","type":"ui_text","z":"e44556f7.4908a","group":"aeb39560.6910b","order":4,"width":0,"height":0,"name":"Model","label":"Radio Model","format":"Flex Radio  {{msg.payload}}","layout":"row-spread","x":730,"y":100,"wires":[]},{"id":"af35bac8.1a62b","type":"ui_text","z":"e44556f7.4908a","group":"aeb39560.6910b","order":5,"width":0,"height":0,"name":"Radio Name","label":"Radio Name","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":160,"wires":[]},{"id":"e5c066aa.a4d58","type":"ui_text","z":"e44556f7.4908a","group":"aeb39560.6910b","order":6,"width":0,"height":0,"name":"Client IP","label":"Client IP's","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":220,"wires":[]},{"id":"a1deb434.ff22","type":"ui_template","z":"3cdfe50a.57bab2","group":"5b585a57.347904","name":"PTT Register","order":9,"width":0,"height":0,"format":"<md-button \nclass=\"vibrate filled touched bigfont rounded\" \nstyle=\"background-color:#2228e6\" \nng-click=\"send({payload: 'PTT'})\"\n\n> PTT Registration\n</md-button> \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":1120,"wires":[["b4a37b8c.6a0b9"]]},{"id":"b4a37b8c.6a0b9","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay4on.sh &>relay4on.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"relay 4 on","x":280,"y":1120,"wires":[[],["1f6dba54.1d6e7e"],[]]},{"id":"1f6dba54.1d6e7e","type":"delay","z":"3cdfe50a.57bab2","name":"Delay 1 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":1120,"wires":[["fcf2a65a.d7bb8"]]},{"id":"fcf2a65a.d7bb8","type":"exec","z":"3cdfe50a.57bab2","command":"sudo ./relay4off.sh &>relay4off.log","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"relay 4 off","x":660,"y":1120,"wires":[[],[],[]]},{"id":"65714740.7b06c","type":"rpi-gpio out","z":"92897ef5.e3fa78","name":"green led","pin":"13","set":true,"level":"0","freq":"","out":"out","x":680,"y":240,"wires":[]},{"id":"9a0b43a1.214e58","type":"inject","z":"92897ef5.e3fa78","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":300,"wires":[["855c0179.83b138"]]},{"id":"855c0179.83b138","type":"delay","z":"92897ef5.e3fa78","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":340,"wires":[["79a431f6.4c924"]]},{"id":"ba9054b1.b3bcb8","type":"delay","z":"92897ef5.e3fa78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":500,"wires":[["79a2fe7.827da8"]]},{"id":"79a431f6.4c924","type":"function","z":"92897ef5.e3fa78","name":"","func":"newmsg = 0;\nmsg.payload = newmsg;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["ba9054b1.b3bcb8","65714740.7b06c"]]},{"id":"79a2fe7.827da8","type":"function","z":"92897ef5.e3fa78","name":"","func":"newmsg = 1;\nmsg.payload = newmsg;\nreturn msg;sg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["65714740.7b06c","855c0179.83b138"]]},{"id":"e47453a6.5cdca","type":"inject","z":"a6bf424f.e930d","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["170d9812.6b6b2"]]},{"id":"a189c020.f67ae","type":"function","z":"a6bf424f.e930d","name":"","func":"str = msg.payload\nmsg.payload = (str * 9)/5 +32\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["757bc908.6f6d4"]]},{"id":"757bc908.6f6d4","type":"ui_gauge","z":"a6bf424f.e930d","name":"","group":"5b585a57.347904","order":10,"width":0,"height":0,"gtype":"gage","title":"Garage","label":"Degrees","format":"{{value | number:1}} F","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":100,"wires":[]},{"id":"170d9812.6b6b2","type":"rpi-ds18b20","z":"a6bf424f.e930d","topic":"","array":false,"name":"","x":350,"y":100,"wires":[["a189c020.f67ae"]]}]